.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  min-height: 10vh;
  padding: 20px;
}
.logo-img {
  width: 80%;
}

@media screen and (min-width: 768px) {
  .nav-container {
    justify-content: space-between;
  }
}
