.register-bg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.register-img {
  width: 100%;
}
.register-form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
}

@media screen and (min-width: 768px) {
  .img-container {
    flex-direction: row;
  }
  .register-img {
    width: 30%;
  }

  .register-form-container {
    width: 20%;
  }
}

.register-heading {
  color: #334155;
  font-size: 32px;
  font-family: 'Roboto';
}
.register-input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 95%;
}
.label {
  color: #7b8794;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: bold;
  margin-bottom: 5px;
}
input {
  border: 1px solid #cbd5e1;
  width: 100%;
  padding: 15px;
  color: #000000;
  font-family: 'Roboto';
  outline: none;
  margin: 8px 0 8px 0;
}

select {
  border: 1px solid #cbd5e1;
  width: 100%;
  padding: 15px;
  color: #000000;
  font-family: 'Roboto';
  outline: none;
  margin: 8px 0 8px 0;
}

.register-input-section {
  width: 100%;
}

.register-submit-btn {
  background-color: #3b82f6;
  color: #ffffff;
  font-family: 'Roboto';
  border: none;
  outline: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 6px;
  margin-top: 20px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .register-submit-btn {
    width: auto;
  }
}

.register-showError {
  color: #ff0b37;
  font-size: 16px;
  font-family: 'Roboto';
}
